.user_profile_banner{
  background-color: #F3F3F3;
  padding: 2rem 0 ;
  .user_profile_img_wrapper{
    width: 150px;
    height: 150px;
    // border: 1px solid red;
    padding: 1rem;
    img{
      width: 100%;
      height: auto;
      border-radius: 50%;
    }
  }
}
.user_profile_banner{
  h2{
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
  }
  p{
    color: #6e6c6c;
  }
  
}
// .user_profile_settings{
//   display: flex;
//   justify-content: flex-end;
//   border: 2px solid black;
// }